.messages {
  display: flex;
  flex-direction: column;

  .message {
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
  }

  .sula-message {
    background-color: blue;
    text-align: right;
  }

  .user-message {
    background-color: #550;
  }
}
